
extends ../generic/generic

mixin articleSection(sectId, sectName, sectContent)
    section.ArticleBodyBlock(id= "" + sectId)
        h1= sectName
        hr
        if(isEditing)
            div.EditPanel
                button(onclick="initSectionEditor(" + sectId + ")")
                    | Edit
                button(onclick="initSectionRenamer(" + sectId + ")")
                    | Rename
                button(onclick="initSectionDeleter(" + sectId + ")")
                    | Delete
                button(onclick="initSectionInserter(" + sectId + ")")
                    | Insert After
        else
            button(onclick="alert(\"Forking article " + article.name + " form " + article._id + "\")")
                | Edit As New Version
        div
            != mkdn(sectContent)

mixin rightTableRow(k, v)
    tr
        td.RightTableCell= k
        td.RightTableCell= v


block head_data
    - var head = {};
    - head.styles = ['/stylesheets/article/main.css', '/stylesheets/article/editor.css'];
    - head.title = !error ? article.name + ' - WikiEngine' : 'WikiEngine';

block body

    if (!error && isEditing)
        script
            | var article =
            != JSON.stringify(article)
            | ;

    nav.Container#leftNavPanel
        h3.LinkGroup Routes (dev)
        hr
        a(href="/article").LeftPanelNavLink /article
        a(href="/article-random").LeftPanelNavLink /article-random

        h3.LinkGroup Generic
        hr
        a(href="/").LeftPanelNavLink Main page
        a(href="/article-random").LeftPanelNavLink Random article

        if (!error)
            h3.LinkGroup Article specific links
            hr
            each val in article.links
                a.LeftPanelNavLink(href=val.url)= val.label
            if(isEditing)
                div(style="height: 10px")
                .EditPanel
                    button(onclick="alert(\"Editing links\")")
                        | Edit links


    section.Container#articleBox
        if (!error)
            header.Container#articleHead
                h1= article.name
                hr
                section.Container#articleHeadContent
                    section.Container#articleHeadLeft
                        section.Container#articleBriefBox
                            if(isEditing)
                                .EditPanel
                                    button(onclick="alert(\"Editing section #" + sectId + "\")")
                                        | Edit Brief
                                    button(onclick="alert(\"Inserting section after #" + (-1) + "\")")
                                        | Insert First Section
                            else
                                button(onclick="alert(\"Forking article " + article.name + " form " + article._id + "\")")
                                    | Edit As New Version

                            != mkdn(article.left.articleBrief)



                        section.Container#articleContentsListBox
                            section#articleContentsList
                                p(align="center") Contents
                                table
                                    tbody
                                        each val in article.content
                                            tr
                                                td.ContentsListSectionId
                                                    a(href="#" + article.content.indexOf(val))= article.content.indexOf(val) + 1
                                                td.ContentsListSectionName
                                                    a(href="#" + article.content.indexOf(val))= val.sectName

                    section.Container#articleHeadRight
                        h3(align="center")= article.right.category
                        section.Container#articleRightTableBox
                            p#imageParagraph(align="center")
                                img#rightTableImage(src=article.right.imageUrl)
                            table
                                tbody
                                    each val in article.right.tableContent
                                        +rightTableRow(val.k, val.v)
                        if(isEditing)
                            div(style="height: 10px")
                            div(align="center")
                                div.EditPanel
                                    button(onclick="alert(\"Renaming table\")")
                                        | Rename Table
                                    button(onclick="alert(\"Uploading new image\")")
                                        | Upload Image
                                    button(onclick="alert(\"Editing table content\")")
                                        | Edit Table Content

            // Article content in markdown
            section.Container#articleBody
                each val in article.content
                    +articleSection(article.content.indexOf(val), val.sectName, val.sectContent)

            // Include scripts for editing
            if(isEditing)
                script(src="javascripts/article/article_editor.js")
                script(src="javascripts/markdown.js")

        else
            h1= error
            p!= addInfo
