
extends ../generic/generic


mixin linksEditPanel
    .EditPanel
        button(onclick="initLinkEditor()")
            | Edit links

mixin briefEditPanel
    .EditPanel(style="margin-top: 8px")
        button(onclick="initBriefEditor()")
            | Edit Brief
        button(onclick="initSectionInserter(" + (-1) + ")")
            | Insert First Section

mixin tableEditPanel
    .EditPanel
        button(onclick="initTableRenamer()")
            | Rename Table
        button(onclick="initImageUploader()")
            | Upload Image
        button(onclick="initTableEditor()")
            | Edit Table Content

mixin sectionEditPanel(id)
    .EditPanel
        button(onclick="initSectionEditor(" + id + ")")
            | Edit
        button(onclick="initSectionRenamer(" + id + ")")
            | Rename
        button(onclick="initSectionDeleter(" + id + ")")
            | Delete
        button(onclick="initSectionInserter(" + id + ")")
            | Insert After


mixin articleSection(id, name, text)
    section.ArticleBodyBlock(id= "" + id)
        h1= name
        hr
        if(isEditing)
            +sectionEditPanel(id)
        div
            != markdown(text)

mixin rightTableRow(k, v)
    tr
        td.RightTableCell(align="right")= k
        td.RightTableCell(align="left")= v


block head_data
    - var head = {};
    - head.styles = ['/stylesheets/article/main.css', '/stylesheets/article/editor.css'];
    - head.title = title ? title + ' - WikiEngine' : 'WikiEngine';


block body

    if (article && isEditing)
        script
            | var article =
            != JSON.stringify(article)
            | ;
            | article._id =
            != "\"" + metaInfo._id + "\""
            | ;

    nav.Container#leftNavPanel
        h3.LinkGroup Go to
        hr
        a(href="/").LeftPanelNavLink Main page
        a(href="/article-random").LeftPanelNavLink Random article
        if (article)
            h3.LinkGroup Article specific links
            hr#beforeUserLinks
            each val in article.links
                a.LeftPanelNavLink.UserLink(href=val.url)= val.label
            div(style="height: 10px")
            if(isEditing)
                +linksEditPanel()

    section.Container#articleBox
        if (!error)
            header.Container#articleHead
                h1= title
                div(style="border-bottom: solid 1px black")
                section.Container#articleHeadContent
                    section.Container#articleHeadLeft

                        section.Container#articleBriefBox
                            if(isEditing)
                                +briefEditPanel()
                            div
                                != markdown(article.brief)

                        section.Container#articleContentsListBox
                            section#articleContentsList
                                p(align="center") Contents
                                table
                                    tbody
                                        each val in article.content
                                            tr
                                                td.ContentsListSectionId
                                                    a(href="#" + article.content.indexOf(val))= article.content.indexOf(val) + 1
                                                td.ContentsListSectionName
                                                    a(href="#" + article.content.indexOf(val))= val.name

                    section.Container#articleHeadRight
                        h3(align="center")= article.tableName
                        section.Container#articleRightTableBox
                            p#imageParagraph(align="center")
                                img#rightTableImage(src=article.image)
                                table
                                    tbody#rightTable
                                        each val in article.table
                                            +rightTableRow(val.k, val.v)
                        if(isEditing)
                            div(style="height: 10px")
                            div(align="center")
                                +tableEditPanel()

            // Article content in markdown
            section.Container#articleBody
                each val in article.content
                    +articleSection(article.content.indexOf(val), val.name, val.text)

            div(style="height: 100px; border-bottom: dashed 1px black")
            p= "Version ID " + metaInfo._id + ", owned by " + metaInfo.ownerName + ", last edited " + metaInfo.updated.toLocaleString()
            p
                a(href="/article-versions?article=" + metaInfo.articleid) All versions of this page

            script(src="javascripts/article/article_editor.js")
            script(src="javascripts/markdown.js")

            if(!isEditing)
                .EditPanel(style="margin-bottom: 16px")
                    if(!login)
                        | Log in to edit
                    else if(metaInfo.owner.toString() == login._id.toString())
                        button(onclick="location = location + \"&forEdit=1\"")
                            | Edit this page
                    else
                        button(onclick="post(\"/article-clone\", {aid: \"" + metaInfo._id + "\"})")
                            | Create your version

        else
            h1!= error
